{% extends "layout.html" %}

{% block title %}
    E-appointment
{% endblock %}

{% block main %}
    <h1>Book your e appointments below</h1>
    <hr>
        <div>
            make an account booking an e-appointment with one of these driving centres 
        </div>
        <br>
        <div class="clearfix">
            <img src="static/cdc.png" class="pull-left mr-2">
            <p>Ubi <a href="https://www.cdc.com.sg/eappointment">Comfort Delgro Driving Centre</a></p>
        </div>
        <hr>
        <div class="clearfix">
            <img src="static/ssdc.png" class="pull-left mr-2">
            <p>Woodlands <a href="https://https://ssdcl.com.sg/e-appointment/">Singapore Safety Driving Centre</a></p>
        </div>
        <hr>
        <div class="clearfix">
            <img src="static/bbdc.png" class="pull-left mr-2">
            <p>Bukit Batok <a href="https://info.bbdc.sg/course-menu/">Bukit Batok Driving Centre</a></p>
        </div>
        

{% endblock %}