{% extends "layout.html" %}

{% block title %}
    Circuit
{% endblock %}

{% block main %}
    <div><h2>Incoming circuit dates</div></h2>
    <hr>
        <br>
        <div class="clearfix">
            <img src="static/cdc.png" class="pull-left mr-2">
            <p>Ubi <a href="https://www.cdc.com.sg/test-date">Comfort Delgro Driving Centre</a></p>
        </div>
        <hr>
        <div class="clearfix">
            <img src="static/ssdc.png" class="pull-left mr-2">
            <p>Woodlands <a href="https://ssdcl.com.sg/test-dates/">Singapore Safety Driving Centre</a></p>
        </div>
        <hr>
        <div class="clearfix">
            <img src="static/bbdc.png" class="pull-left mr-2">
            <p>Bukit Batok <a href="https://info.bbdc.sg/test-date-information/">Bukit Batok Driving Centre</a></p>
        </div>
{% endblock %}