{% extends "layout.html" %}

{% block title %}
    Simulator
{% endblock %}

{% block main %}
    <div>
        <h2>Next Step</h2>
    </div><hr>
    <div>
        Book your simulator course through your chosen  driving school app or website. For more information click <a href = "https://www.police.gov.sg/Media-Room/News/20191207_OTHERS_Mandatory_Simulator_Training_for_Learner_Motorists">here</a>
    </div>
    <br>
    <div>
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/gSXjcJvKt8c">
        </iframe>
    </div>
    <hr>
{% endblock %}