{% extends "layout.html" %}

{% block title %}
    BTT & FTT
{% endblock %}

{% block main %}
    <div>
        <h2>Useful materials</h2>
    </div><hr>
    <div>
        BTT practice <a href = "https://www.basictheorytest.org/question_list.php?">here</a>
    </div>
    <div>
        FTT practice <a href = "https://www.basictheorytest.org/question_list.php?">here</a>
    </div>
    <div>
        Or try theory questions <a href = "https://www.tptest.sg/">here</a>
    </div>
    
    <br>
    <div><h2>Incoming Test dates</div></h2>
    <hr>
        <br>
        <div class="clearfix">
            <img src="static/cdc.png" class="pull-left mr-2">
            <p>Ubi <a href="https://www.cdc.com.sg/test-date">Comfort Delgro Driving Centre</a></p>
        </div>
        <hr>
        <div class="clearfix">
            <img src="static/ssdc.png" class="pull-left mr-2">
            <p>Woodlands <a href="https://ssdcl.com.sg/test-dates/">Singapore Safety Driving Centre</a></p>
        </div>
        <hr>
        <div class="clearfix">
            <img src="static/bbdc.png" class="pull-left mr-2">
            <p>Bukit Batok <a href="https://info.bbdc.sg/test-date-information/">Bukit Batok Driving Centre</a></p>
        </div>
{% endblock %}